# build output
dist/

# generated types
.astro/

# dependencies
node_modules/

# pnpm
.pnpm-store/
pnpm-debug.log*

# npm
npm-debug.log*

# VS Code
.vscode/
*.code-workspace

# Astro
# (already covered: dist/, .astro/)

# environment variables
.env
.env.production
.env*

# macOS-specific files
.DS_Store

# Windows-specific files
Thumbs.db

# jetbrains setting folder
.idea/

# Sublime Text
*.sublime-workspace
*.sublime-project
